ODATA_1C_HOST_IP=172.22.0.52
ODATA_1C_HTTP_HOST=srv-1c.tehnomer.ru
ODATA_1C_USER=odata_user
ODATA_1C_PASSWORD=secret
FIREBIRD_HOST=
FIREBIRD_DATABASE=
FIREBIRD_USER=
FIREBIRD_PASSWORD=
FIREBIRD_CHARSET=
ADMIN_PASSWORD=
BENCH_OPERATOR_PIN=
BENCH_REQUIRE_OPERATOR_PIN=1
TM07_PRINT_AGENT_TOKEN=
TM07_REQUIRE_PRINT_AGENT_TOKEN=